@import "./_variables.scss";

.culture{
    background-color: rgba(color(accent), 0.8);
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding: 0rem 1rem;
    height: 50%;
    @include tablet{
        height: 60%;
    }
    @include laptop{
        height: 68%;
    }
}

.culture-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin: 0.5rem 1rem;
    font-size: 1.35rem;
    @include tablet{
        font-size: 2.5rem;
     } 
    @include laptop{
       font-size: 3.5rem;
    } 
}

.culture-gallery{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    @include laptop{
        flex-direction: row;
        margin: 1rem;
    }
}

.culture-gallery-images{
    height: 10rem;
    width: 14rem;
    transition: all 0.3s;
    outline-offset: 0.2rem;
    @include tablet{
        height: 17rem;
        width: 24rem;
        padding: 0.4rem;
    }
    @include laptop{
        height: 24rem;
        width: 32rem;
    }
}
.culture-gallery-images:hover {
    transform: scale(1.3);
    outline: 0.4rem solid color(secondary);
    z-index: 1;
}

.culture-gallery-images:not(:hover){
    transform: scale(0.99);
    opacity: 0.5;
}