@import "./_variables.scss";

.festivals{
    background-color: rgba(color(accent), 0.4);
    display: flex;
    flex-direction: column;
    padding: 1rem;
    height: 65rem;
    @include tablet{
        height: 44rem;
    }
    @include laptop{
        height: 55rem;
    }
}

.festivals-text{
    margin: 0.5rem 1rem;
    font-size: 1.05rem;
    @include tablet{
        font-size: 1.2rem;
     } 
    @include laptop{
       font-size: 1.7rem;
    } 
}

.festivals-cards{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
}

.festivals-cards-diwali{
    left: 0.1rem;
    @include tablet{
        left: 1rem;
    }
    @include laptop{
        left: 22.05rem;
    }
}

.festivals-cards-holi{
    left: 17.1rem;
    @include tablet{
        left: 19rem;
    }
    @include laptop{
        left: 60.1rem;
    }
}

.festivals-cards-independence{
    top: 30.1rem;
    @include tablet{
        top: 0rem;
        left: 37rem;
    }
    @include laptop{
        left: 97.15rem;
    }
}

.festivals-cards-rakhi{
    top: 30.1rem;
    left: 17.1rem;
    @include tablet{
        top: 0rem;
        left: 55rem;
    }
    @include laptop{
        left: 134.2rem;
    }
}

.festivals-cards-side{
    backface-visibility: hidden;
}

.festivals-cards-side-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: rgba(color(white), 0.4);
    height: 29rem;
    width: 16.5rem;
    align-items: center;
    z-index: 1;
    font-size: 0.95rem;
    @include tablet{
        font-size: 1rem;
        height: 37rem;
        width: 17rem;
     } 
    @include laptop{
       font-size: 1.6rem;
       height: 46rem;
       width: 26rem;
    } 
}

.festivals-cards-side-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: rgba(color(gray), 0.4);
    height: 27rem;
    width: 14.5rem;
    padding: 1rem;
    transform: rotateY(-180deg);
    font-size: 1.1rem;
    @include tablet{
        font-size: 1.25rem;
        height: 35rem;
        width: 15rem;
     } 
    @include laptop{
       font-size: 1.48rem;
       height: 44rem;
       width: 24rem;
    } 
}

.festivals-cards-side-front-images{
    height: 10rem;
    width: 14rem; 
    @include laptop{
        height: 19rem;
        width: 23rem;
    }
}

.festivals-cards:hover .festivals-cards-side-front{
    transform: rotateY(-180deg);
}

.festivals-cards:hover .festivals-cards-side-back{
    transform: rotateY(0deg);
}