@import "./_variables.scss";

.festivals{
    background-color: rgba(color(primary), 0.9);
    display: flex;
    flex-direction: column;
    padding: 0.5rem 1rem;
    height: 85%;
    @include tablet{
        height: 52%;
    }
    @include laptop{
        height: 77%;
    }
}

.festivals-text{
    margin: 0.5rem 1rem;
    font-size: 1.35rem;
    @include tablet{
        font-size: 2.5rem;
     } 
    @include laptop{
       font-size: 3.5rem;
    } 
}

.festivals-cards{
    display: flex;
    flex-wrap: wrap;
    text-align: center;
    position: relative;
}

.festivals-cards-diwali{
    left: 1rem;
    @include tablet{
        left: 2rem;
    }
    @include laptop{
        left: 19.05rem;
    }
}

.festivals-cards-holi{
    left: 18rem;
    @include tablet{
        left: 20rem;
    }
    @include laptop{
        left: 57.1rem;
    }
}

.festivals-cards-independence{
    top: 31rem;
    left: 1rem;
    @include tablet{
        top: 0rem;
        left: 38rem;
    }
    @include laptop{
        left: 95.15rem;
    }
}

.festivals-cards-rakhi{
    top: 31rem;
    left: 18rem;
    @include tablet{
        top: 0rem;
        left: 56rem;
    }
    @include laptop{
        left: 133.2rem;
    }
}

.festivals-cards-side{
    backface-visibility: hidden;
}

.festivals-cards-side-front{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: rgba(color(white), 0.5);
    height: 29rem;
    width: 16.5rem;
    align-items: center;
    z-index: 1;
    font-size: 1.25rem;
    @include tablet{
        font-size: 1.8rem;
        height: 37.5rem;
        width: 17rem;
     } 
    @include laptop{
       font-size: 2.8rem;
       height: 52rem;
       width: 32rem;
    } 
}

.festivals-cards-side-back{
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: absolute;
    background-color: rgba(color(white), 0.5);
    height: 27rem;
    width: 14.5rem;
    padding: 1rem;
    transform: rotateY(-180deg);
    font-size: 1.2rem;
    @include tablet{
        font-size: 1.4rem;
        height: 35.5rem;
        width: 15rem;
     } 
    @include laptop{
       font-size: 2.3rem;
       height: 50rem;
       width: 30rem;
    } 
}

.festivals-cards-side-front-images{
    height: 11rem;
    width: 15rem; 
    @include tablet{
        height: 12rem;
        width: 16rem;
    }
    @include laptop{
        height: 21rem;
        width: 29rem;
    }
}

.festivals-cards:hover .festivals-cards-side-front{
    transform: rotateY(-180deg);
}

.festivals-cards:hover .festivals-cards-side-back{
    transform: rotateY(0deg);
}