@import "./_variables.scss";

.india{
    display: flex;
    justify-content: space-around;
    height: 108rem;
}

.india-title{
    z-index: 1;
    position: relative;
    font-size: 15rem;
    top: 5rem;
}

.india-video{
    object-fit: contain;
    position: absolute;
    //width: 10rem;
}