@import "./_variables.scss";

.india{
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100%;
}

.india-title{
    position: relative;
    font-size: 12rem;
    top: -2%;
    transition: all 0.3s;
    @include tablet{
        font-size: 13.5rem;
    }
    @include laptop{
        font-size: 16rem;
    }
}

.india-video{
    opacity: 0.7;
    position: absolute;
    object-fit: cover;
    padding: 0rem 1rem;
    height: 100%;
    width: 100%;
    /*width: 95.8%;
    @include tablet{
        height: 97.8%;
        width: 97.8%;
    }
    @include laptop{
        //height: 97%; 
        //width: 99%;
    } */
}

.india-text-box{
    z-index: 1;
    height: 35%;
}

.india-text-box:hover{
    transform: scale(1.2);
}