@import "./_variables.scss";

.india{
    display: flex;
    justify-content: space-around;
    height: 81%;
    padding: 1rem;
    @include tablet{
        height: 66%;
    }
    @include laptop{
        background-color: rgba(color(accent), 0.4);
        height: 101.5%;
    }
}

.india-title{
    position: relative;
    font-size: 12rem;
    top: -2%;
    transition: all 0.3s;
    @include tablet{
        font-size: 13.5rem;
    }
    @include laptop{
        font-size: 15rem;
    }
}

.india-video{
    object-fit: contain;
    position: absolute;
    opacity: 0.7;
    height: 80%;
    @include tablet{
        height: 65%;
    }
    @include laptop{
        height: 100%;
    }
}

.india-text-box{
    z-index: 1;
    height: 35%;
}

.india-text-box:hover{
    transform: scale(1.2);
}