@import "./_variables.scss";

.sites{
    background-color: rgba(color(secondary), 0.4);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
    height: 37rem;
    @include tablet{
        height: 34rem;
    }
    @include laptop{
        height: 28rem;
    }
}

.sites-text{
    margin: 0.5rem 1rem;
    font-size: 1.05rem;
    @include tablet{
        font-size: 1.2rem;
     } 
    @include laptop{
       font-size: 1.7rem;
    } 
}

.sites-gallery{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    @include tablet{
        flex-direction: row;
    }
    @include laptop{
        margin: 1rem;
    }
}

.sites-gallery-images{
    height: 9rem;
    width: 14rem;
    padding: 1rem;
    @include tablet{
        height: 12rem;
        width: 18rem;
        padding: 1.2rem;
    }
    @include laptop{
        height: 17rem;
        width: 25rem;
    }
}