$colors: (
    primary: #CDDC39,
    secondary: #303F9F,
    accent: #FF9800,
    black: black,
    gray: gray,
    white: white
);

$tablet: 600px;
$laptop: 900px;
$desktop: 1100px;

@function color($color-name) {
  @return map-get($colors, $color-name);
}

@mixin tablet{
  @media(min-width: #{$tablet}) {
    @content;
  }
}
@mixin laptop{
  @media(min-width: #{$laptop}) {
    @content;
  }
}
@mixin desktop{
  @media(min-width: #{$desktop}) {
    @content;
  }
}