@import "./_variables.scss";

.visit{
    background-color: rgba(color(primary), 0.4);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    height: 50%;
    margin-top: 50rem;
    z-index: 2;
}

.visit-link{
    text-decoration: none;
}

.visit-button-text,
.visit-button-text:link,
.visit-button-text:visited{
    background-color: rgba(color(black), 0.4);
    display: inline-block;
    z-index: 2;
    border-radius: 5rem;
    padding: 0.5rem 2rem;
    transition: all 0.3s;
    position: relative;
    animation: moveInBottom 0.5s ease-out 0.75s;
    animation-fill-mode: backwards;
}

.visit-button-text:hover{
    transform: translateY(2px);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}
.visit-button-text::after{
    content: "";
    display: inline-block;
    height: 100%;
    width: 100%;
    border-radius: 5rem;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.3s;
}
.visit-button-text:hover::after{
    transform: translateY(1px);
    transform: scaleX(2) scaleY(2);
    box-shadow: 0 0.5rem 1rem rgba(0,0,0,0.2);
}

.visit-button-text{
    color: rgba(color(white), 0.4);
    font-size: 1.35rem;
    @include tablet{
        font-size: 2.5rem;
     } 
    @include laptop{
       font-size: 3.5rem;
    } 
}